{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "baseUrl": "./src/",
    "paths": {
      "@/*": ["./*"]
    },
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    }
  },
  "module": {
    "type": "commonjs"
  }
}
